@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
     .btn-blue{
        @apply bg-blue-500  text-white font-bold py-3 px-4 rounded
     }

     .btn-blue:hover{
        @apply bg-blue-700
     }

}
